<!DOCTYPE html>
<html>

<title>Trip Planner - {% block title %}{% endblock %}</title>
<head>
    <!-- Stylesheets go here! -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/index.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor="#E6E6FA">

  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div>

              <a class="navbar-brand" href="/">Trip Planner</a>

        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <ul class="navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class = "col-xs-12 col-sm-8 col-md-8 col-lg-8 map">
      {% block map %}
      {% endblock %}
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sidebar">
      <div class = "places">
          {% block places %}
          {% endblock %}
      </div>  <!-- /.container -->
      <div class = "schedule">
            {% block schedule %}
            {% endblock %}

      </div> <!-- /.container -->
    </div>
  </div>
</div>

<!-- Script tags go here! -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7bosG1Qg97I7t2h8ZEMPo2PSrVlcnD7U&sensor=true"></script>
  <script src="/map/map.js"></script>

</body>
</html>
