.navbar {
  padding: 0 40px;
  background-color: #97a528; }
  .navbar a {
    color: #444;
    text-decoration: none; }
    .navbar a:hover {
      text-decoration: underline; }

.navbar-inverse {
  background-color: #685ad7; }
  .navbar-inverse a {
    color: #bbbbbb; }

.navbar-brand {
  float: left;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-top: 3px;
  display: inline-block; }

.navbar-right {
  float: right; }

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%; }

.navbar-right {
  float: right;
  margin: 14px; }
  .navbar-right li {
    display: inline-block;
    margin: 5px; }
