@import "variables";
@import "normalize";
@import "navbar";


html,body{
    height:100%;
    max-width:100%;
}
body {
  padding-top: 70px;
  max-width: 100%;
}
.container-fluid{
  height: 100%;
  overflow-y: hidden;
}

.map, .sidebar{
  height: 100%;
}
.places,.schedule{
  height: 40%;

}
.row{
  height: 100%;
}
