

$nav-bg: rgb(151, 165, 40);
$nav-txt: #444;

.navbar {
  padding: 0 40px;
  background-color: $nav-bg;
  a {
    color: $nav-txt;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar-inverse {
  background-color: invert($nav-bg);
  a {
    color: invert($nav-txt);
  }
}

.navbar-brand {
  float: left;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-top: 3px;
  display: inline-block;
}

.navbar-right {
  float: right;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-right {
  float: right;
  margin: 14px;
  li {
    display: inline-block;
    margin: 5px;
  }
}

